html,body{
    height: 100%;
}
/* header */

body{
    background-color:#cec616;
}

.header{
    height:180px;
    background: url("../images/admin_header.png") no-repeat center 70px,
                url("../images/admin_background.png") repeat;
    border-bottom: 3px solid #1b1d23;
}

.navbar{
    background-color: rgba(28, 28, 28, 0.9);border:none;
}

.navbar-default .navbar-nav > .active > a {
    color: #cec616;background: none;font-weight:bold;
}

.navbar-default .navbar-nav > .active > a:hover {
    background: none; color: #cec616;text-decoration: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #cec616;
}

.navbar-default .navbar-nav > li > a {
    color: #cec616;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #cec616;text-decoration:underline;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #cec616;
}

.navbar-default .navbar-toggle {
    border-color: #cec616;
}

.navbar-toggle {
    margin-bottom: 8px;
    margin-left: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}

.comments_list ul li{
    margin-left:15px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: transparent;
    border-color: #1b1d23;
    color: #1b1d23;
    cursor: default;
    z-index: 2;
    font-weight:bold;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: transparent;
    border-color: #1b1d23;
    color: #1b1d23;
    cursor: not-allowed;
}



.delete_comment{
    font-size:21px;color:#337ab7;background: none;border:none;
}
.delete_comment:hover{
    background: none;border:none;color:#d9534f;
}

.delete_article,.delete_tag,.delete_category{
    background:none;
    border:none;
    color:#337ab7;
}

.delete_article:hover,.delete_article:active,.delete_tag:hover,.delete_category:hover{
    background:none;
    border:none;
    color:#d9534f;
}
/* content */

#wrapper{
    position:relative;min-height:100%;
}

#main{
    padding-bottom:100px;
}

.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
    background-color:transparent;
}


.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 3px solid #1b1d23;
}

.table td{
    text-align:center;
}

.submit_button{
    margin:0 auto;display:block;
}

/* navigation */
.pagination > li > a, .pagination > li > span {
    background-color: transparent;
    border: 2px solid #1b1d23;
    color: #1b1d23;
}

.pagination > li > a:hover,.pagination > li > a:focus,.pagination > li > span:hover,.pagination > li > span:focus{
    background-color:#1b1d23;color:#cec616;border-color:#cec616;
}

#category_sorting ul{
    cursor:move;
}
#category_sorting ul li{
    list-style:none;
}

#edit_category_name input[type = 'text'],#edit_tags input[type = 'text']{
    background:none;border:none;
}

/* footer */

footer{
    position:absolute;bottom:0;height:100px;width:100%;
    background:url("../images/footer_background.png") repeat;

}
    footer p{
        color:#cec616;margin-top:40px;
    }

.row{
    margin-bottom:20px;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

@media only screen and (max-width : 600px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}