*{
    margin:0;padding:0;
}

body{
   background:url("../images/site_background.png") repeat;
    background-size:400px;
    font-family: 'Ubuntu Condensed';
}

a{
    text-decoration:none;
}

p{
    color:#2f303b;
}
h1{
    color:#2f303b;font-size:24px;text-align:center;
}

h3{
    color:#2f303b;text-align:center;
}

img{
    border:none;
}

input{
    border:none;outline:none;
}

ul{
    list-style:none;
}

table{
    font-size:14px;color:#2f303b;margin:0 auto;
}


.clear{
    clear:both;
}

.button{
    color:#2f303b;border:1px solid #2f303b;padding:5px 10px;text-transform: uppercase;
    background:none;/* Настройки для кнопки */
}
    .button:hover{
        color:#d1bf3c;border:1px solid #d1bf3c;
    }

#wrapper{
    max-width:1200px;margin:0 auto;
}

                                                /*============================
                                                           HEADER
                                                ============================*/

#header_top{
    height:90px;background-color: rgba(28, 28, 28, 0.9);position:absolute;width:100%;
    z-index: 10;
}
    #header_top #menu{
        float:left;margin:26px 0 0 40px;
    }


        #header_top #menu ul{
            margin-left: 40px;
        }
            #header_top #menu ul li{
                display: inline-block;padding-right: 20px;height:65px;color:#e2e2e3;font-size:24px;
            }

        
                #header_top #menu ul li a{
                    color:#e2e2e3;font-size:24px;
                }
                #header_top #menu ul li a:hover,#header_top #menu ul li:hover{
                    cursor:pointer;color:#d1bf3c;/* yellow */
                }

                #header_top #menu ul li:hover ul{
                    opacity:1;top:56px;visibility:visible;
                }

                #header_top #menu ul.inner_menu{
                    position:absolute;margin:34px 0 0 20px;;background-color: rgba(28, 28, 28, 0.9);opacity:0;
                    transition: all 300ms;top:70%;visibility: hidden;
                }

                    #header_top #menu .inner_menu li{
                        display:block;padding:5px 10px 10px 10px;border-bottom:1px solid #e2e2e3;height:100%;
                    }
                    #header_top #menu .inner_menu li:last-child{
                        border:none;
                    }

     #adaptive_menu{
        float:left;margin-top:18px; display:none;
    }
        #adaptive_menu #menu_icon{
            height:50px;cursor:pointer;margin-left:20px;
        }

     #adaptive_menu>ul{
        margin-top:17px;position:absolute;background-color:rgba(47,48,59,0.96);width:100%;padding:10px 0 20px 0;
         display:none;
     }

        #adaptive_menu .inner_menu{
            margin-top:2px;display:none;
        }
        #adaptive_menu .inner_menu li a{
            padding-left:10px;
        }

         #adaptive_menu ul li,#header_top #adaptive_menu ul li a{
            font-size:24px;color:#e2e2e3;
        }

         #adaptive_menu ul li span{
             border-bottom:2px solid #e2e2e3;display:block;padding:2px 0 5px 20px;
         }

#logo{
    float:right;margin:0 40px 0 0;
}

#header_background {
    max-width:1200px;position:relative;
}
    #header_background img{
        width:100%;
    }
    .social_icons{
        position:absolute;bottom:20px;left:20px;
    }
            .social_icons ul li{
                display: inline-block;
            }
                #header_background .social_icons ul li img {
                    width: 36px;
                }

#auth{
    position:absolute;bottom:20px;right:20px;background-color:rgba(47,48,59,0.7);padding: 10px 20px 7px;;
}
    .auth_error_message{
        font-style:italic;color: #fe6a85;text-align:center;font-size:12px;display:block;font-family: 'Ubuntu';
        margin-bottom: 7px; margin-top: -7px;
    }
    #auth_form input[name="auth_login"], #auth_form input[name="auth_password"]{
         width:280px;height:36px;margin-bottom:10px;opacity: 0.9;padding-left:45px;box-sizing: border-box;
        font-style:italic;font-size:12px;background-color: #e2e2e3;
    }

    #adaptive_auth_form input[name="auth_login"], #adaptive_auth_form input[name="auth_password"]{
        width:280px;height:36px;margin-bottom:10px;opacity: 0.9;padding-left:45px;box-sizing: border-box;
        font-style:italic;font-size:12px;background-color: #e2e2e3;
    }


    #auth_form input[name="auth_login"],#adaptive_auth_form input[name="auth_login"]{
        background-image:url('../images/login_icon.png');background-repeat: no-repeat;
        background-position: 10px 7px;background-size:20px;
    }
    #auth_form input[name="auth_password"],#adaptive_auth_form input[name="auth_password"]{
        background-image:url('../images/passowrd_icon.png');background-repeat: no-repeat;
        background-position: 10px 7px;background-size:20px;
    }

    #auth_form input[name="enter"],#adaptive_auth_form input[name="enter"]{
        background:none;color:#e2e2e3;border:1px solid #e2e2e3;padding:5px 25px;text-transform: uppercase;
        font-size:14px;cursor:pointer;margin:0 auto;display:block;
    }
    #auth_form input[name="enter"]:hover{
        color:#d1bf3c;border:1px solid #d1bf3c;
    }

    .auth_user{
        text-align:center;
    }

        .auth_user p{
            color:#e2e2e3;
        }

        .auth_user .edit_profile{
            font-family: 'Ubuntu';font-style:italic;font-size:14px;margin-bottom:20px;
        }

        .auth_user .edit_profile:hover{
            text-decoration:underline;
        }

        .auth_user a{
           color:#e2e2e3;display:table;margin:0 auto;
        }

        .auth_user .exit{
            border:1px solid #e2e2e3;padding:5px 20px;text-transform: uppercase;;cursor:pointer;
        }

        .auth_user .exit:hover{
            color:#d1bf3c;border:1px solid #d1bf3c;
        }



    #forgot,#adaptive_forgot{
        color:#e2e2e3;margin:5px auto 0;
    }
        #forgot a,#adaptive_forgot a{
            color:#e2e2e3;font-style:italic;font-size:14px;font-family: "Ubuntu";
        }
        #forgot a:hover{
            text-decoration:underline;
        }

    #adaptive_auth{
        display:none;position:absolute;top:0;width:100%;
        background-color:rgba(47,48,59,0.96);z-index:10;padding:84px 0;
    }
        #header_background #auth_icon{
            width:36px;position:absolute;right:20px;bottom:20px;display:none;
            cursor:pointer;
        }

        #header_background #auth_close{
            width:36px;position:absolute;right:20px;top:20px;cursor:pointer;
        }
        #adaptive_auth_form>form{
            text-align:center;
        }
        #adaptive_forgot{
            text-align:center;
        }


#search{
    width:100%;position:relative;margin-top: -3px;
}
    #search input[name = 'search_string']{
        width:100%;height:50px;padding-left:20px;color:#2f303b;background-color:#e2e2e3;
        box-sizing: border-box;font-size:18px;
    }
    #search input[name="search"]{
        background-image: url("../images/search_icon.png");background-color: transparent;
        background-position: center center;background-repeat: no-repeat;border: medium none;
        cursor: pointer;height: 42px;position: absolute;right: 20px;top: 5px; width: 45px;
    }

#bread_crumbs{
    text-transform: uppercase;font-size:18px; margin:15px 0 15px 20px;
}
    #bread_crumbs a{
        color:#d1bf3c;
    }
    #bread_crumbs span{
        color:#e2e2e3;
    }

                                            /*============================
                                                      MAIN CONTENT
                                            ============================*/
main{
width:70%;float:left;
}


.content_block{/* НАСТРОЙКИ ДЛЯ БЛОКА С КОНТЕНТОМ */
    background-color:rgba(255,255,255,0.8);border-top:4px solid #d2801f;/* orange */
    padding:10px 20px 20px 20px ;width:100%;margin-bottom:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
        main .publication_date{
            font-family:'Ubuntu';font-size:14px;font-style:italic;margin:10px 0;
        }
        main .article_image{
            width:55%;display:block;margin:0 auto;
        }
        main article p,aside p{
            margin:10px 0 20px 0;text-indent: 15px;font-size:18px;line-height: 20px;/* настройки для текста статьи */
        }
        main .views_likes{
            float:left;width:50%;
        }
            main .views_likes span{
                margin: 0 10px 0 3px;
            }
            main .views_likes img{
                margin-bottom:-3px;height: 17px;
            }
            .likes_img{
                cursor:pointer;
            }
        main .read_more{
            float:right; display: inline-block;margin-top:-5px;
        }
 /* full article content */

article ul{
    list-style:outside;
}

article ul,article ol{
    margin-left:20px;font-size:18px;color: #2f303b;
}


.full_article_image{
    width:80%;margin:0 auto;display:block;
}

#article_tags p{
    font-family:"Ubuntu";font-size:14px;font-style:italic;margin:-10px 0 10px 0;text-indent:0;
}

#article_tags a{
    color:#2f303b;
}

#article_tags a:hover{
    text-decoration:underline;
}

#share{
    position:relative;float:right;height:27px;margin-top:-3px;
}
    #share_icon{
        position:absolute;right:0;cursor:pointer;
        transition:all 0.3s ease;
    }

    #share a>img{
        height:20px;
    }

    #share a{
        display:none;
        padding-left: 7px;
    }


 /* comments */
.comment_form{
    margin: 10px 0 20px;
}
.comment_form textarea,.answer_form textarea{
    width:100%;height:195px;border:1px solid #2F303B;margin-bottom:10px;
    padding:10px 0 0 10px;font-family: "Ubuntu";color:#2f303b;box-sizing:border-box;
    resize:vertical;background:none;
}
.comment_form input[type = "text"],.answer_form input[type = "text"]{
    width:100%;height:40px;border:1px solid #2F303B;margin-bottom:10px;box-sizing: border-box;
    padding-left:10px;font-family: "Ubuntu";color:#2f303b;font-size:16px;background:none;
}
.comment_form input[type = "button"],.answer_form input[type = "button"]{
    display:block;margin:0 auto 10px;background:none;
}
.comment{
    margin-left: 20px;
}
    .comment_error_message{
        color:#e9001b;text-align:center;
    }

    .comment_avatar{
        float:left;margin:0 10px 20px 0;
    }


    .comment .user_avatar{
        width:100px;display:block;
    }
    .comment .text_comment{
        width:100%;
    }
        .text_comment .user_login{
            font-weight:bold;font-family: 'Ubuntu';margin-right:20px;
        }
        .text_comment p{
            margin:10px 0;
        }
        .answer{
            display:block;font-weight:bold;font-family: 'Ubuntu';
        }
        .answer:hover{
            text-decoration:underline;cursor:pointer;
        }

        .answer_form{
            margin-bottom:20px;width:100%;display:none;position:relative;overflow:hidden;
        }
            .answer_form .close_icon{
                position:absolute;top:5px;right: 5px;width:24px;cursor:pointer;
            }

/* sitemap content */
#sitemap_content ul{
    margin-left:20px;list-style:none;
}
    #sitemap_content h3{
        text-align:left;margin:5px 0;
    }
    #sitemap_content ul li a{
        color:#2f303b;
    }
        #sitemap_content ul li a:hover{
            text-decoration: underline;
        }

/* registration */

#form{
    width:300px;margin:0 auto;
}
    #form p{
        margin-bottom:5px;text-align:center;font-size:14px;
    }
    #form input[type = "text"],#form input[type = "password"]{
        width:100%;height:40px;border:1px solid #2f303b;padding:8px 0 10px 10px;;box-sizing:border-box;
        background:none;
    }
    #captcha_number{
        margin:0 auto;width:60%;
    }
    #form #captcha{
        width:40px;
    }

    #form input[type = 'button'],#form input[type = 'submit']{
        margin:5px auto 0;display:block;cursor:pointer;
    }

    #form #registration_submit{
        margin:5px auto 0;display:block;cursor:pointer;
    }
    #form .registration_error_message{
        text-align:center;font-size:12px;color:#e9001b;display:block;
    }
    #registration_message,.reconstruction_message{
        text-align:center;
    }

    #form textarea{
        width:100%;height:200px;border:1px solid #2f303b;background:none;padding:10px 10px 0 10px;box-sizing:border-box;
        resize: vertical;
    }

    #edit_avatar{
        width:220px;display:block;margin:0 auto;cursor:pointer;
    }

#subscribe_categories{
    margin:10px 0;
}



 #subscribe_categories div{
     padding-left:35%;
     margin-bottom:5px;
 }

#subscription_management{
    margin-top:20px;
}
    #subscription_management form{
        display:none;
    }

    #show_categories{
        position:relative;
    }

    #show_categories>img{
        position:absolute;bottom:0;left:38px;width:24px
    }

    #show_categories:hover{
        cursor:pointer;
    }

#bookmarks{
    margin-top:10px;
}


#show_bookmarks{
    position:relative;width:300px;margin:0 auto 10px;
}

#show_bookmarks:hover{
    cursor:pointer;
}

#show_bookmarks+div{
    display: none;
}
#show_bookmarks>img{
    position:absolute;bottom:0;left:90px;width:24px;
}

.bookmark{
    position:relative;display:inline-block;width:30%;padding-left:2%;margin-bottom:5px;
}
    .delete_bookmark{
        width:24px;position:absolute;top:0;right:3px;
    }
    .delete_bookmark:hover{
        cursor:pointer;
    }

    .bookmark_image{
        width:100%;height:150px;
    }

    .bookmark_header{
        position:absolute;bottom:30px;color:#fff;margin-left:20px;
    }
        .bookmark_header h3{
            color: #e2e2e3;
        }


#page404{
    display:block;margin:0 auto;width:60%;

}

/* calculator */
.rep_calculator{
    width:50%;
}
    .rep_calculator td{
        border: 1px solid #1b1d23; padding: 10px;text-align: center;
    }
    .rep_calculator input,select{
        background: none;text-align:center;
    }

                                            /*============================
                                                       SIDEBAR
                                            ============================*/

aside{
    float:right;width:28%;box-sizing:border-box;
}
    #subscription img{
        margin:0 auto;
        display: block;
    }
    #subscription a{
        margin:10px auto 0;width:92px;
        display: block;
    }

    #tags h1{
        margin-bottom:10px;
    }

    #tags a {
      text-transform: lowercase;margin-left:5px;
      display:inline-block;margin-bottom:5px;
    }


                                            /*============================
                                                       NAVIGATION
                                             ============================*/

#navigation{
    width:100%;margin:0 auto 20px;
}
#navigation a,#navigation span{
    color:#e2e2e3;font-size:21px;border:3px solid #e2e2e3;border-radius: 100px; line-height: 38px;
    display:inline-block;margin:0 2px;width:40px;height:40px;text-align:center;
}

#navigation #first_page,#navigation #last_page{
    font-size:18px;
}

#navigation a:hover{
    color:#d1bf3c;border:3px solid #d1bf3c;
}
#navigation #arrow_left{
    background-image: url("../images/arrow_left.png");background-position: 11px 9px;
    background-repeat: no-repeat;background-size:  15px 22px;margin-bottom:-4px;
    width:40px;height:40px;
}
#navigation #arrow_left:hover{
    background-image:url("../images/arrow_left_hover.png");
}
#navigation #arrow_right{
    background-image: url("../images/arrow_right.png");background-position: 14px 9px;
    background-repeat: no-repeat;background-size: 15px 22px;margin-bottom:-4px;
    width:40px;height:40px;
}
#navigation #arrow_right:hover{
    background-image:url("../images/arrow_right_hover.png");
}
#navigation .current_page{
    background-color:#e2e2e3;color:#2f303b;
}

                                                /*============================
                                                           FOOTER
                                                ============================*/

footer{
    height:150px;background-color: rgba(28, 28, 28, 0.9);overflow: hidden;
}
    footer a,footer h3 {
        color: #e2e2e3;
    }
    footer a:hover{
        text-decoration:underline;
    }
    footer nav{
        width:33%;float:left;margin:20px 0 0 20px;
    }
        footer nav img{
            height:14px;width:20px;margin-right:5px;
        }

    #copyright{
        color:#e2e2e3;margin-top:125px;text-align: center;
    }


    #social_network{
        float:right;margin:-125px 20px 0 0;

    }
            #social_network ul li{
                text-align:center;
            }

                                            /*============================
                                                        АДАПТАЦИЯ
                                             ============================*/
@media screen and (max-width:1200px){

    #header_top #menu{
       margin:26px 0 0 20px;
    }
        #header_top #menu ul {
            margin-left: 0;
        }

    #logo{
       margin:0 20px 0 0;
    }

}

@media screen and (max-width:900px){

    #header_top #menu{
        display:none;
    }

    #header_background #auth_icon{
        display:block;
    }

    #header_top #adaptive_menu{
        display:block;
    }

    #auth{
        display:none;
    }

    #adaptive_auth{

    }

}

@media screen and (max-width:768px){

   main{
       width:94%;float:none;margin:0 auto;
   }

    aside{
        width:94%;float:none;overflow: hidden;margin: 0 auto;
    }

    #subscription img{
        width:100px;
    }


}

@media screen and (max-width:640px){

    #header_top{
        height:60px;
    }

    #adaptive_menu{
        margin-top:4px;
    }

    #logo img{
        width:155px;
    }

    #adaptive_menu > ul{
        margin-top:0;
    }

    main .article_image{
        width:80%;
    }
    .bookmark_image{
        height: 100px;
    }
}

@media screen and (max-width:480px){


    .social_icons{
        bottom:5px;
    }

    #header_background .social_icons ul li img{
        width:30px;
    }

    #header_background #auth_icon{
        width:30px;bottom:10px;
    }

    #header_top{
        height:45px;
    }


    #adaptive_menu{
        margin-top:2px;
    }

    #adaptive_menu #menu_icon{
        height:40px;
    }

    #adaptive_menu > ul{
        margin-top:-2px;
    }

    #logo img {
       width:110px;
    }


    main{
        width:100%;margin:0;
    }

    main .publication_date{
        margin: 0 0 5px 0;font-size:12px;
    }
    
    .bookmark{
        width:47%;
    }

    #navigation a,#navigation span{
        font-size:18px;line-height: 24px;
        display:inline-block;margin:0 2px;width:25px;height:25px;
    }

    #navigation #first_page,#navigation #last_page{
        font-size:14px;
    }

    #navigation #arrow_left{
        background-position: 6px 5px;
        background-size: 10px 15px;
        width:25px;height:25px;
    }

    #navigation #arrow_right{
        background-position: 9px 6px;
        background-size: 10px 15px;
        width:25px;height:25px;
    }

    aside{
        width:100%;margin: 0;
    }

}

@media screen and (max-width:360px){

    #header_top{
        margin-top:-45px;
    }

    #header_background{
        margin-top:45px;
    }

    #adaptive_auth_form input[name="auth_login"], #adaptive_auth_form input[name="auth_password"]{
        width:240px;padding-left:40px;
    }

    #adaptive_auth{
        top:-45px;
    }

    main .read_more{
        float:none;margin:0 auto;display:table;
    }

    main .views_likes{
        float:none;width:100%;text-align:center;margin-bottom:10px;
    }

    main article p{
        margin-bottom:10px;
    }

    main .article_image{
        width:100%;
    }

    .content_block{
        padding:10px 5px 20px;
    }

    .full_article_image{
        width:100%;
    }

    #share{
        float:none;text-align:center;
    }

    #share_icon{
        position:relative;
    }

    #search input[name="search_string"] {
        font-size: 14px;
        height: 36px;
    }

    #search input[name="search"] {
        background-size: 21px 21px;
        height: 21px;
        top: 8px;
        width: 24px;
    }

    #bread_crumbs {
        font-size: 12px;
        margin: 6px 0 6px 20px;
    }

    #adaptive_menu {
        margin-top: 5px;
    }


    #adaptive_menu #menu_icon {
        height: 33px;
        margin-left:5px;
    }

    #adaptive_menu ul li, #header_top #adaptive_menu ul li a {
        font-size: 18px;
    }

    #logo {
        margin: 5px 5px 0 0;
    }

    .social_icons{
        left:5px;
    }

    #header_background #auth_icon{
        right:5px;width:25px;
    }


    #header_background .social_icons ul li img {
        width: 25px;
    }

    #captcha_number{
        width:80%;
    }

    #form,#show_bookmarks{
        width:230px;
    }

    #show_bookmarks>img{
        left:55px;
    }

    #show_categories>img{
       left:3px;
    }

    #subscribe_categories div {
        padding-left: 27%;
    }

    footer{
        height: 110px;
    }
    
    footer nav{
        width:45%;
        margin: 5px 0 0 5px;
    }

    #social_network {
        margin: -105px 5px 0 0;
    }

    footer a,footer h3,footer p{
        font-size:14px;
    }

    #copyright{
        margin-top:90px;
    }
}