*{
    margin:0;padding:0;
}

body{
   background:url("../images/site_background.png") repeat;
    font-family: 'Ubuntu Condensed';
}

a{
    text-decoration:none;
}

p{
    color:#2f303b;
}
h1{
    color:#2f303b;font-size:24px;text-align:center;
}

img{
    border:none;
}

input{
    border:none;outline:none;
}

ul{
    list-style:none;
}

.clear{
    clear:both;
}

.button{
    color:#2f303b;border:1px solid #2f303b;padding:5px 10px;text-transform: uppercase;
    background:none;/* Настройки для кнопки */
}
    .button:hover{
        color:#d1bf3c;border:1px solid #d1bf3c;
    }

#wrapper{
    max-width:1200px;margin:0 auto;
}

                                                /*============================
                                                           HEADER
                                                ============================*/

#header_top{
    height:90px;background-color: rgba(28, 28, 28, 0.9);position:absolute;width:100%;
    z-index: 10;
}
    #header_top #menu{
        float:left;margin:26px 0 0 40px;
    }


        #header_top #menu ul{
            margin-left: 40px;
        }
            #header_top #menu ul li{
                display: inline-block;padding-right: 20px;height:65px;color:#e2e2e3;font-size:24px;
            }
                #header_top #menu ul li a{
                    color:#e2e2e3;font-size:24px;
                }
                #header_top #menu ul li a:hover,#header_top #menu ul li:hover{
                    cursor:pointer;color:#d1bf3c;/* yellow */
                }

                #header_top #menu ul li:hover ul{
                    opacity:1;top:56px;visibility:visible;
                }

                #header_top #menu ul.inner_menu{
                    position:absolute;margin:34px 0 0 20px;;background-color: rgba(28, 28, 28, 0.9);opacity:0;
                    transition: all 300ms;top:70%;visibility: hidden;
                }

                    #header_top #menu .inner_menu li{
                        display:block;padding:5px 10px 10px 10px;border-bottom:1px solid #e2e2e3;height:100%;
                    }
                    #header_top #menu .inner_menu li:last-child{
                        border:none;
                    }

     #adaptive_menu{
        float:left;margin-top:18px; display:none;
    }
        #adaptive_menu #menu_icon{
            height:50px;cursor:pointer;margin-left:20px;
        }

     #adaptive_menu>ul{
        margin-top:14px;position:absolute;background-color:rgba(47,48,59,0.96);width:100%;padding:10px 0 20px 0;
         display:none;
     }


        #adaptive_menu .inner_menu{
            margin-top:2px;display:none;
        }
        #adaptive_menu .inner_menu li a{
            padding-left:10px;
        }

         #adaptive_menu ul li,#header_top #adaptive_menu ul li a{
            font-size:24px;color:#e2e2e3;
        }

         #adaptive_menu ul li span{
             border-bottom:2px solid #e2e2e3;display:block;width:100%;padding:2px 0 5px 20px;
         }





#logo{
    float:right;margin:5px 40px 0 0;
}

#header_background {
    max-width:1200px;position:relative;
}
    #header_background img{
        width:100%;
    }
    .social_icons{
        position:absolute;bottom:20px;left:20px;
    }
            .social_icons ul li{
                display: inline-block;
            }
                #header_background .social_icons ul li img {
                    width: 36px;
                }

#auth{
    position:absolute;bottom:20px;right:20px;background-color:rgba(47,48,59,0.7);padding: 10px 20px 7px;;
}
    .auth_error_message{
        font-style:italic;color: #e9001b;text-align:center;font-size:12px;display:block;font-family: 'Ubuntu';
        margin-bottom: 7px; margin-top: -7px;
    }
    #auth_form input[name="auth_login"], #auth_form input[name="auth_password"]{
         width:280px;height:36px;margin-bottom:10px;opacity: 0.9;padding-left:45px;box-sizing: border-box;
        font-style:italic;font-size:12px;background-color: #e2e2e3;
    }
    #auth_form input[name="auth_login"]{
        background-image:url('../images/login_icon.png');background-repeat: no-repeat;
        background-position: 10px 7px;background-size:20px;
    }
    #auth_form input[name="auth_password"]{
        background-image:url('../images/passowrd_icon.png');background-repeat: no-repeat;
        background-position: 10px 7px;background-size:20px;
    }

    #auth_form input[name="enter"]{
        background:none;color:#e2e2e3;border:1px solid #e2e2e3;padding:5px 25px;text-transform: uppercase;
        font-size:14px;cursor:pointer;margin:0 auto;display:block;
    }
    #auth_form input[name="enter"]:hover{
        color:#d1bf3c;border:1px solid #d1bf3c;
    }
    #forgot{
        color:#e2e2e3;margin:5px auto 0;width:72%;
    }
        #forgot a{
            color:#e2e2e3;font-style:italic;font-size:14px;font-family: "Ubuntu";
        }
        #forgot a:hover{
            text-decoration:underline;
        }

#search{
    width:100%;position:relative;margin-top: -3px;
}
    #search input[name = 'search_string']{
        width:100%;height:50px;padding-left:20px;color:#2f303b;background-color:#e2e2e3;
        box-sizing: border-box;font-size:18px;
    }
    #search input[name="search"]{
        background-image: url("../images/search_icon.png");background-color: transparent;
        background-position: center center;background-repeat: no-repeat;border: medium none;
        cursor: pointer;height: 42px;position: absolute;right: 20px;top: 5px; width: 45px;
    }

#bread_crumbs{
    text-transform: uppercase;font-size:18px; margin:15px 0 15px 20px;
}
    #bread_crumbs a{
        color:#d1bf3c;
    }
    #bread_crumbs span{
        color:#e2e2e3;
    }

                                            /*============================
                                                      MAIN CONTENT
                                            ============================*/

main{
width:66%;float:left;
}
article{
    min-height:500px;
}

.content_block{/* НАСТРОЙКИ ДЛЯ БЛОКА С КОНТЕНТОМ */
    background-color:rgba(255,255,255,0.8);border-top:4px solid #d2801f;/* orange */
    padding:10px 20px 20px 20px ;width:100%;margin-bottom:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
        main .publication_date{
            font-family:'Ubuntu';font-size:14px;font-style:italic;margin:10px 0;
        }
        main .article_image{
            width:55%;display:block;margin:0 auto;
        }
        main article p,aside p{
            margin:10px 0 20px 0;text-indent: 15px;font-size:18px;line-height: 20px;/* настройки для текста статьи */
        }
        main .views_likes{
            float:left;width:50%;
        }
            main .views_likes span{
                margin: 0 10px 0 3px;
            }
            main .views_likes img{
                margin-bottom:-3px;height: 17px;
            }
        main .read_more{
            float:right; display: inline-block;margin-top:-5px;
        }
 /* full article content */

 .full_article_image{
     width:80%;margin:0 auto;display:block;
 }

 #share{
     position:relative;float:right;height:27px;margin-top:-3px;
 }
    #share_icon{
        position:absolute;right:0;cursor:pointer;
        transition:all 0.3s ease;
    }

    #share a>img{
        height:20px;
    }

    #share a{
        display:none;
        padding-left: 7px;
    }


 /* comments */
.comment_form{
    margin: 10px 0 20px;
}
.comment_form textarea,.answer_form textarea{
    width:100%;height:195px;border:1px solid #2F303B;margin-bottom:10px;
    padding:10px 0 0 10px;font-family: "Ubuntu";color:#2f303b;box-sizing:border-box;
    resize:vertical;background:none;
}
.comment_form input[type = "text"],.answer_form input[type = "text"]{
    width:100%;height:40px;border:1px solid #2F303B;margin-bottom:10px;box-sizing: border-box;
    padding-left:10px;font-family: "Ubuntu";color:#2f303b;font-size:16px;background:none;
}
.comment_form input[type = "submit"],.answer_form input[type = "submit"]{
    display:block;margin:0 auto 10px;background:none;
}
.comment{
    margin-left: 20px;
}
    .comment_error_message{
        color:#e9001b;text-align:center;display:none;
    }
    .comment .user_avatar{
        width:15%;float:left;display:block;
    }
    .comment .text_comment{
        float:right;width:82%;
    }
        .text_comment .user_login{
            font-weight:bold;font-family: 'Ubuntu';margin-right:20px;
        }
        .text_comment p{
            margin-top:10px;
        }
        .text_comment .answer{
            display:block;font-weight:bold;font-family: 'Ubuntu';margin-bottom:20px;
        }
        .text_comment .answer:hover{
            text-decoration:underline;cursor:pointer;
        }

        .answer_form{
            margin-bottom:20px;width:100%;display:none;position:relative;overflow:hidden;
        }
            .answer_form .close_icon{
                position:absolute;top:5px;right: 5px;width:24px;cursor:pointer;
            }

/* sitemap content */
#sitemap_content ul{
    margin-left:20px;
}
    #sitemap_content ul li a{
        color:#2f303b;
    }
        #sitemap_content ul li a:hover{
            text-decoration: underline;
        }

/* registration */

#form{
    width:300px;margin:0 auto;
}
    #form p{
        margin-bottom:5px;text-align:center;font-size:14px;
    }
    #form input[type = "text"],#form input[type = "password"]{
        width:100%;height:40px;border:1px solid #2f303b;padding:8px 0 10px 10px;;box-sizing:border-box;
        background:none;
    }
    #captcha_number{
        margin:0 auto;width:60%;
    }
    #form #captcha_input{
        width:40px;
    }
    #form input[type = "submit"]{
        margin:5px auto 0;display:block;
    }
    #form .registration_error_message{
        text-align:center;font-size:12px;color:#e9001b;display:block;
    }
    #registration_message,.reconstruction_message{
        text-align:center;
    }

    #form textarea{
        width:100%;height:200px;border:1px solid #2f303b;background:none;padding:10px 10px 0 10px;box-sizing:border-box;
        resize: vertical;
    }
                                            /*============================
                                                       SIDEBAR
                                            ============================*/

aside{
    float:right;width:32%;box-sizing:border-box;
}
    #subscription img{
        margin:0 auto;
        display: block;
    }
    #subscription a{
        margin:10px auto 0;width:92px;
        display: block;
    }

    #tags h1{
        margin-bottom:10px;
    }

    #tags a {
      text-transform: lowercase;margin-left:5px;
      display:inline-block;margin-bottom:5px;
    }


                                            /*============================
                                                       NAVIGATION
                                             ============================*/

#navigation{
    width:300px;margin:0 auto 20px;
}
#navigation a,#navigation span{
    color:#e2e2e3;font-size:30px;border:3px solid #e2e2e3;border-radius: 100px;padding:7px 18px;
    display:inline-block;margin:0 2px;
}
#navigation a:hover{
    color:#d1bf3c;border:3px solid #d1bf3c;
}
#navigation #arrow_left{
    background-image: url("../images/arrow_left.png");background-position: 13px 12px;
    background-repeat: no-repeat;background-size: 18px 26px;height: 34px;
    margin-top: 4px;width: 12px;
}
#navigation #arrow_left:hover{
    background-image:url("../images/arrow_left_hover.png");
}
#navigation #arrow_right{
    background-image: url("../images/arrow_right.png");background-position: 17px 12px;
    background-repeat: no-repeat;background-size: 18px 26px;height: 34px;
    margin-top: 4px;width: 12px;
}
#navigation #arrow_right:hover{
    background-image:url("../images/arrow_right_hover.png");
}
#navigation .current_page{
    background-color:#e2e2e3;color:#2f303b;
}

                                                /*============================
                                                           FOOTER
                                                ============================*/

footer{
    height:150px;background-color: rgba(28, 28, 28, 0.9);overflow: hidden;
}
    footer a,footer h3 {
        color: #e2e2e3;
    }
    footer a:hover{
        text-decoration:underline;
    }
    footer nav{
        width:33%;float:left;margin:20px 0 0 20px;
    }
        footer nav img{
            height:14px;width:20px;margin-right:5px;
        }

    #copyright{
        color:#e2e2e3;margin-top:125px;text-align: center;
    }


    #social_network{
        float:right;margin:-125px 20px 0 0;

    }
            #social_network ul li{
                text-align:center;
            }

                                            /*============================
                                                        АДАПТАЦИЯ
                                             ============================*/
@media screen and (max-width:1200px){

    #header_top #menu{
       margin:26px 0 0 20px;
    }
        #header_top ul {
            margin-left: 0;
        }

    #logo{
       margin:5px 20px 0 0;
    }

}

@media screen and (max-width:900px){

    #header_top #menu{
        display:none;
    }

    #header_top #adaptive_menu{
        display:block;
    }

}